---
import Project from '../components/Project.astro';

import '../styles/global.css';

const images_catchemall = [
	"/miporfolio/catchemall-1.webp",
	"/miporfolio/catchemall-2.webp",
	"/miporfolio/catchemall-3.webp"
]

const images_danny = [
	"/miporfolio/danny-1.webp",
	"/miporfolio/danny-2.webp"
]

const images_nvim = [
	"/miporfolio/minevim.webp"
]

const images_dana = [
	"/miporfolio/dana-1.webp",
	"/miporfolio/dana-2.webp"
]

const images_unfollowers_insta = [
	"/miporfolio/unfollowers-1.webp",
	"/miporfolio/unfollowers-2.webp"
]

const images_converter = [
	"/miporfolio/image-converter-1.webp"
]
const images_esteganografia = [
	"/miporfolio/esteganografia-1.webp"
]

const images_jojobird = [
	"/miporfolio/jojobird-1.webp",
	"/miporfolio/jojobird-2.webp"
]


const cats_spikes = [
    "/miporfolio/cats-spikes-1.webp",
    "/miporfolio/cats-spikes-2.webp"
]

const question_mark = [
    "/miporfolio/question-mark.webp"
]

---
<section>
    <div class="max-w-5xl m-auto">
        <h1 class="text-3xl justify-center m-auto flex mt-10 border bg-primary text-bold rounded-3xl py-4 text-white">
            Some of the projects I've made since 2019
        </h1>
    </div>
    <div class="grid grid-cols-2 grid-rows-[auto_auto_auto] sm:grid-cols-1 gap-4 w-full items-stretch">
        <div class="flex col-span-2 sm:col-span-1 row-span-1 gap-4 justify-center items-stretch">
            <Project title="Catch'em all. Fishingrod" image_paths={images_catchemall} description="A simple game about fishing and gambling (2025)" link="https://github.com/alexceend/UnityFishingGame"/>
            <Project title="NVIM PLUGINS" image_paths={images_nvim}] 
            description="Nvim plugins made in lua. (2025)" link="https://github.com/alexceend/nvim-plugins"
            class = ""
            />
        </div>
        <div class="flex col-span-2 sm:col-span-1 row-span-1 gap-4 justify-center items-stretch">
            <Project title="Danny's frog" image_paths={images_danny} description="Frog :p (java) (2024)" link="https://github.com/alexceend/Danny-s-frog"/>
            <Project title="Jojo bird" image_paths={images_jojobird} 
                description="Simple java game that I did with 2 classmates for a JAM of my University (2024)." link="https://github.com/alexceend/jojo-bird"
                class = ""
            />
        </div>
        <div class="flex col-span-2 sm:col-span-1 row-span-1 gap-4 justify-center items-stretch">
            <Project title="Dana database" image_paths={images_dana} 
            description="A simple SQL database that contains relevant information about the DANA of Valencia. (2024)" link="https://github.com/alexceend/dana-data-base"
            class = ""
            />
            <Project title="Image converter JAVA" image_paths={images_converter}
                description="Simple java project that lets you convert images between png, jpg and bmp. (2023)" link="https://github.com/alexceend/Image-Converter-Java"
                class = ""
            />
        </div>
        <div class="flex col-span-2 sm:col-span-1 row-span-1 gap-4 justify-center items-stretch">
            <Project title="Unfollowers Insta" image_paths={images_unfollowers_insta}] 
            description="Python script that lets you see the people that unfollowed you. (2024)" link="https://github.com/alexceend/see-who-unfollowed-you-insta"
            class = ""
            />
            <Project title="Esteganografía Java" image_paths={images_esteganografia}] 
            description="A simple java program that lets you hide text inside bmp images using esteganography. (2023)" link="https://github.com/alexceend/EsteganografiaJava"
            class = ""
            />
        </div>
        <div class="flex col-span-2 sm:col-span-1 row-span-1 gap-4 justify-center items-stretch">
            <Project title="Cats and spikes" image_paths={cats_spikes}] 
            description="Simple godot videogame that I did back in 2019." link="https://github.com/alexceend/Cats-Spikes"
            class = ""
            />
            <Project title="Upcoming projects" image_paths={question_mark}] 
            description="Upcoming projects..." link="https://github.com/alexceend"
            class = ""
            />
        </div>
    </div>
</section>
